<aside class="sticky-toc hidden lg:block"
       aria-label="On this page"
       data-controller="toc">
  <p class="sticky-toc-label">On this page.</p>
  <ul class="sticky-toc-list" data-toc-target="list"></ul>
</aside>
